.autocomplete {
  cursor: pointer;
  height: 30px;
  background: rgb(230, 230, 230);
  border-width: 0px;
  border-radius: 3px;
  color: #5a55a1;
  text-align: center;
  font-size: px;
  font-weight: 600;
}
